	#h1 {
		color: red;
		
	}
	.h1 {
		color: green;
	}
	h1 {
		color: yellow;
		font-family:arial;
		font-size: 20px;
	}
	h3 {
		color: rgb(255,50,0);
	}
	h4 {
		color: rgb(255,50,255);
	}
	
	h5 {
		color: rgb(25,50,230);
	}
	
	h6 {
		color: rgb(100,50,40);
	}
